body {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  border-collapse: collapse;
  box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.4);
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.num {
  text-align: right;
}

th, td {
  padding: 3px 8px;
  text-align: left;
  white-space: nowrap;
}
